{% load static %}
<html>
    <head>
        <title>infinite education</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"   
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"   
        crossorigin="anonymous">  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
        <style>
            body{
                background-color: rgb(207, 223, 236);
                background-repeat:no-repeat;
            }  
            #tablebg
            {
                background: url("/static/img/loginbg.jpg");
                background-size: 100%;
            }
            #bannertext
            {
                color:yellow;
            }
            a{
                display:inline;
                background-color:blue;
                color:white;
                height:30px;
                width:100px;
                text-decoration: none;
                border-radius: 5px;;
                padding-top: 2px;
                padding-right: 10px;
                padding-left: 10px;
            }
            button
            {
                color:rgb(234, 232, 240);
                font-size: 20px;
                background-color: blue;
                border: groove 2px yellow;
                border-radius: 20px;
                box-shadow:  0 8px 16px 0 black;
            }
            
            h3{
            text-align: center;
            text-transform: none;
            color: #017205;
            text-size-adjust: 200vw;
            }
            #size{
                max-width: 20vw;
            }
            #imagesize{
                width:15vw;
                height:15vw;
            }
            button:hover
            {
            border:5px solid greenyellow;
            border-radius: 90px;
            box-shadow:0 5px 35px 0px yellow
            }
            #videosize
            {
                width:40vw;
                height:auto;
                border-radius:30px;
            }
            div.padding
            {
                padding-top: 50px;  
                padding-right: 100px;  
                padding-bottom: 150px;  
                padding-left: 200px;
            }
            
            
        </style>
    </head>
    <body>
        
        

<!--home-->
<div id="home">
<div style="position:sticky;top:0px;background-color: white;">
<img src="{% static '/images/telephone.png'%}" height="20px" width="20px" align="center"><a href="tel:9876543210">CONTACT NO</a>
&nbsp;&nbsp;
<img src="{%static '/images/email.png'%}" height="20px" width="20px" align="center"><a href="mailto:Saro@gmail.com">MAIL ID</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="{%static '/images/location-pin.png'%}" height="20px" width="20px" align="center"><a href="https://www.google.com/maps/place/Infinite+Computer+Coaching+Centre+%7C+Best+Institute+For+Computer+Courses+%7C+High+Quality+Education+%7C+Industry+Experts/@9.9090502,78.100212,14z/data=!4m10!1m2!2m1!1sinfinite+computer+education+teppakulam!3m6!1s0x3b00c5e13dea29f5:0xa314d0ceb01ec87b!8m2!3d9.9091968!4d78.1459154!15sCiZpbmZpbml0ZSBjb21wdXRlciBlZHVjYXRpb24gdGVwcGFrdWxhbVooIiZpbmZpbml0ZSBjb21wdXRlciBlZHVjYXRpb24gdGVwcGFrdWxhbZIBEGVkdWNhdGlvbl9jZW50ZXLgAQA!16s%2Fg%2F11s49yn3z9?entry=ttu">teppakulam,madurai</a>
&nbsp;&nbsp;
<img src="{%static '/images/search.png'%}" height="20px" width="20px" align="center"><a href>search</a>
&nbsp;&nbsp;
<img src="{%static '/images/heart.png'%}" height="20px" width="20px" align="center"><a href>like</a>
<img src="{%static '/images/user.png'%}" height="20px" width="20px" align="center"><a href="{% url 'login'%}">login</a>
<img src="{%static '/images/user.png'%}" height="20px" width="20px" align="center"><a href="{% url 'signup'%}">signup<br></a>
</div>


<table  width="100%" height="auto" >
    <tr>
        <td width="5%" height="10%" align="auto">
        <img id="logo1" src="{%static '/images/logo.png'%}" height="100px" width="100px" ></td>
        <td width="10px" height="10px" align="auto">
        <font size="5" face="Copperplate Gothic" color="blue"><b>infinite</b><br></font>
        <font size="2" face="arial" ><b>computer education</b></font>
        </td>
        <td width="70%" height="10% align="center">
        <img id="logo2" src="{%static '/images/more.png'%}" height="20px" width="20px" align="auto">
        &nbsp;&nbsp; &nbsp;&nbsp;
        <font size="3" face="arial"><a href="#home">HOME</a></font>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <font size="3" face="arial"><a href="#services">SERVICES</a></font>
        &nbsp;&nbsp;&nbsp;&nbsp;
        
        <font size="3" face="arial"><a href="#about us">ABOUT US</a></font>
        &nbsp;&nbsp; &nbsp;&nbsp;
        
        <font size="3" face="arial"><a href="#why us">WHY US</a></font>
        &nbsp;&nbsp; &nbsp;&nbsp;
        
        <font size="3" face="arial"><a href="#contact us">CONTACT US</a></font>
        <font size="3" face="arial"><a href="{% url 'admin1'%}">ADMIN</a></font>

        </td>
  
    </tr>

</table>  
</div>
<div style="position:sticky;top:0px;">
<marquee bgcolor="yellow" behavior="slide" scrollamount="10" loop="50"><font color="black" face="Arial" size="5">ADMISSION OPEN FOR FULL STACK DEVLOPMENT COURSES</font></marquee>
</div>
   


<br><br><br><br>
<!--<div  style="height:600px;width:100%;position:absolute;top:187px;background-color:aqua;opacity:0.6";></div>-->
</div>

    
    <div id="tablebg">
        <table height="100%" width="100%">
        <tr>
            <th width="60%">
                <h3 id="bannertext">A TRUSTED NAME SPECIFIED</h3>
                <h1 id="bannertext">COMPUTER TRAINING</h1>
                <button style="cursor:pointer">enquire now</button>
            </th>
    </div>
    
            <th width="40%">
                <img style="padding-bottom: 20px;position: relative;" src="{%static '/images/learn removebg.png'%}" height="auto" width="100%" align="right">
    
            </th>
        </tr>
    </table>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;
<!--services-->
<div style="padding-top: 30px;" id="services">
    <table  width="100%" height="auto%">
        <tr>
            <td align="center" colspan="4" width="100%" height="auto">
            <font size="6" face="arial" color="red" id="services">SERVICES</font>
            </td>
        </tr>
    </table>
<table style="padding-top: 500px;" width="100%" height="auto" >
    <tr>
        <td align="center" width="25%" id="servicesborder">
            <img id="imagesize" style="border-radius: 20px;" src="{%static '/images/aucad.png'%}">
            <h3 align="center" >AUTOCAD</h2><br>
            <div id="size">Learn the fundamentals of AutoCAD by getting hands on training from our skilled and experienced tutors
            <br>
            <br>
            <br>
            <br>
            <button>enquire now</button></div>
        </td>
        <td align="center"width="25%">
            <img id="imagesize" style="border-radius: 20px;" src="{%static '/images/intern.jpg'%}">
            <h3 align="center" >INTERNSHIP PROGRAMMING</h3><br>
            <div id="size">Our IT Internship Training help the students to get job opportunities in MNC.</div>
            <br>
            <br>
            <br>
            <br>
            <button>enquire now</button>
        </td>
        <td align="center" width="25%">
            <br>
            
            <img id="imagesize" style="border-radius: 20px;" style="float:center" src="{%static '/images/sap.jpg'%}" >
           <br>
            <h3 align="center">SAP PROGRAMMING</h3><br>
            <div id="size">We offer various SAP certification courses which provide real time & focused SAP training which are completely industry oriented to our honored patrons at very affordable rates.
            <br>
            <br>
            <button>enquire now</button></div>
        </td>
        <td align="center" width="25%">
            <br>
            <img id="imagesize" style="border-radius: 20px;" src="{%static '/images/web.jpg'%}" width="50%" height="160px"><br><br>
            <h3 align="center">WEB DEVELOPMENT</h3><br>
            <div id="size">Become a master at web development by enrolling in our computer training institutes located all over the city
            <br>
            <br>
            <br>
            <br>
            <br>
            <button>enquire now</button></div>
        </td>
    </tr>
</table>
</div><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;
<table  align="center" width="80%" height="auto" >
    <tr colspan="3">
        <td align="center" width="33%">
            <br>
            <br>
            <br>
            
            <img id="imagesize" style="border-radius: 20px;" src="{%static '/images/dtp.jpg'%}" width="62%" height="auto">
            <h3>DTP COURSE</h3><br>
            <div id="size">Our desktop publishing institutes help the students to grow in a professional manner with reasonable fee.</div>
            <br>
            <br>
            <br>
            <br>
            <button>enquire now</button>
        </td>
        <td align="center" width="33%">
            <br>
            <br>
            <img id="imagesize" style="border-radius: 20px;" src="{%static '/images/ds.jpg'%}" width="50%" height="160px">
            <h3>DATA SCIENCE</h3><br><br>
            <div id="size">our institute tarining the DATA SCIENCE</div>
            <br>
            <br>
            <br>
            <br>
            <button>enquire now</button>
        </td>
        <td align="center" width="33%%" height="50%">
            <br>
            <br>
            <img id="imagesize" style="border-radius: 20px;" src="{%static '/images/th.jpg'%}" width="50%" height="160px">
            <h3>MS OFFICE</h3>
            <div3 id="size">We provide full training in MS Office which includes Excel, Word, PowerPoint, etc. Our highly professional certified trainers are here to provide you the best testing training.</div>
            <br>
            <br>
            <br>
            <br>
             <button>enquire now</button>
        </td>
            </td>
    </tr>
</table>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;
<br>
<br>
<br>
<br>
<!--about us -->
<div id="about us">
    <table height="auto" width="100%" align="center" >
    <tr>
        <td align="center">
            <img  style="border-radius: 20px;" src="{%static '/images/about.jpg'%}" height="30%" width="50%">
        </td>
    </tr>
</table>

<table   height="30%" width="60%" align="center">
    <tr>
        <td align="center">
            <font face="arial" size="5" color="red">ABOUT US</font><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            We, Infinite Computer Coaching Center, situated at Keerathurai, Madurai, Tamil Nadu are a leading institute offering a wide range of computer courses for all. Our mission is quality training with an affordable fee structure. Our uniquely designed curriculum makes our students employable and future ready. We have a dedicated team of skilled teachers and counsellors who make sure that regular up-gradation of courses is provided to students along with career guidance. Our professional team works harmoniously in unison, pushing the frontiers in growth and quality in imparting education.
        </td>
    </tr>
</table>
</div>
<table  align="center" width="100%" height="auto">
    <td align="center" colspan="2">
        <font size="5" face="arial" color="red">videos</font>
    </td>
</table>
<table   align="center" width="100%">
    <tr colspan="2">
        <td align="center" width="50%" height="50%">
            <video controls autoplay muted  src="{%static '/video/institute.mp'%}" width="80%" height="25%" id="videosize" ></video>
            <p>BEST COMPUTER INSTITUTE</p>
        </td>
        <td align="center" width="50%" height="50%">
            <video controls  autoplay muted  src="{%static '/video/top 5.mp4'%}" width="80%" height="25%" id="videosize" ></video>
            <p>Top 5 Programming Languages to learn
            </p>
        </td>

    </tr>
</table>
<table  width="100%">
    <tr>
        <td align="center" width="50%" height="50%">
            <video controls  autoplay muted  src="{%static '/video/full stack.mp4'%}" width="80%" height="25%" id="videosize" ></video>
            <p>well explained on full stack</p>
        </td>
        <td align="center" width="50%" height="50%">
            <video controls autoplay muted src="{%static '/video/what.mp4'%}" width="80%" heigh="25%" id="videosize"></video>
            <p>What is full stack I Learn Advanced ?</p>
        </td>
    </tr>
</table>
<div align="center">
<h2 align="center" style="background-color: grey;height:30px">CONTACT US</h2>
<form style="background-color:lightslategray;height:300px">
&nbsp;&nbsp;&nbsp;&nbsp;
    <p>
        fullname&nbsp;&nbsp;
        <input type="text" required placeholder="enter your name" autofocus="off" autocomplete mqaxlength="30" minlength="4">
    </p>
    <p>
        mobile no&nbsp;
        <input type="text" required placeholder="enter your mobile no" autofocus="off" autocomplete maxlength="10" >
    </p>
    <p>
        email id&nbsp;&nbsp;&nbsp;
        <input type="email" required placeholder="enter a email id" autofocus="off" autocomplete>
    </p>
    <p>
        message&nbsp;&nbsp;
        <input type="text">
    </p>
    <p>
        <button>submit</button>
       
    </p>
</form>
<div style="background-color: grey;height:300px">
<script>
    $(document).ready(function()
    {
    $(".button").click(function()
    {
    $(".hide").toggle();
    $("div").animate({left: '250px'});
    });
    });
</script>
<button class="button">ADDRESS</button>
<br> 
<br> 
<br> 
<div class="hide">
    <img src="{%static '/images/email.png'%}" height="20px" width="20px" align="center">General Enquiries
<br>
<br> 
infinite3c@gmail.com
<br>
<br>
<img src="{% static '/images/cell-phone.png'%}" height="20px" width="20px" align="center">Call Us
<br>
<br>
+91-9876543211,
+91-8764530272
<br> 
<br> 
Our Timing
Mon - Sat : 09:00 AM - 10:00 PM 
Sun : Closed



</body>
</html>
